name: Publish new release

on:
  create:
    tags:
      - "v*"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.14
      - name: Run tests
        run: go test ./...
      - name: Compile
        env:
          REF: ${{ github.ref }}
        run: |
          echo ${GITHUB_REF}
          if [[ $GITHUB_REF =~ refs\/tags\/v ]]; then
            VERSION=$(echo $GITHUB_REF | sed 's/refs\/tags\///') make compile
          else
            echo "Not a tag"
            exit 0
          fi
          echo '::set-env name=VERSION::${VERSION}'
      - name: Create release
        id: create-release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          body: |
            Need to get this from changelog
          draft: false
          prerelease: false
      - name: Upload release assets
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create-release.outputs.upload_url }}
          asset_path: ./build/service_${{ env.VERSION }}_darwin-amd64
          asset_name: service_${{ env.VERSION }}_darwin-amd64
          asset_content_type: application/octet-stream
