name: Publish new release

on: [create]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.14
      - name: Run tests
        run: go test ./...
      - name: Echo
        run: echo ${GITHUB_REF}
